In [77]:
# The code was removed by Watson Studio for sharing.

For the next few lines of code, I showed the datasets that I had. Then I dropped unnecessary columns.

In [78]:
df_btc.drop([0,1], inplace=True)
df_btc.reset_index(inplace=True)
df_btc.drop(columns=['index', 'Unix', 'High', 'Low', 'Symbol'], inplace=True)
df_btc.rename(columns={'Open': 'BTC Open', 'Close': 'BTC Close', 'Volume': 'BTC Volume'}, inplace=True)
for i in range(df_btc.shape[0]):
    df_btc['Date'][i] = df_btc['Date'][i][0:10]

In [79]:
print(df_btc.shape)
df_btc.head()

(2279, 4)

         Date  BTC Open BTC Close     BTC Volume
0  2022-01-02  47329.05  47149.31   459.54333612
1  2022-01-01  46806.83  47329.05   565.40462685
2  2021-12-31  47207.99  46806.83  1591.71255472
3  2021-12-30  46502.44  47207.99   998.41225028
4  2021-12-29  48017.93  46502.44  1119.62814235

In [80]:
df_nasdaq.drop(columns=['High', 'Low', 'Adj Close'], inplace=True)
df_nasdaq.rename(columns={'Open': 'NASDAQ Open', 'Close': 'NASDAQ Close', 'Volume': 'NASDAQ Volume'}, inplace=True)
print(df_nasdaq.shape)
df_nasdaq.head()

(2014, 4)

         Date  NASDAQ Open  NASDAQ Close  NASDAQ Volume
0  2014-01-03  4148.560059   4131.910156     1667480000
1  2014-01-06  4137.029785   4113.680176     2292840000
2  2014-01-07  4128.569824   4153.180176     2278220000
3  2014-01-08  4154.279785   4165.609863     2345220000
4  2014-01-09  4179.040039   4156.189941     2214770000

In [81]:
df_tesla.drop(columns=['High', 'Low', 'Adj Close'], inplace=True)
df_tesla.rename(columns={'Open': 'TESLA Open', 'Close': 'TESLA Close', 'Volume': 'TESLA Volume'}, inplace=True)
print(df_tesla.shape)
df_tesla.head()

(2014, 4)

         Date  TESLA Open  TESLA Close  TESLA Volume
0  2014-01-03      30.000    29.912001      23475000
1  2014-01-06      30.000    29.400000      26805500
2  2014-01-07      29.524    29.872000      25170500
3  2014-01-08      29.770    30.256001      30816000
4  2014-01-09      30.500    29.506001      26910000

In [82]:
print(df_disaster.shape)
df_disaster.head()

(62702, 22)

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,bb121323c9c29d3bef0c9a3f134bfd8b5ecff148,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025780
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,c879557e78d059e6847e7688388c339d10f51979,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025783
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,4fb19699fdbba1387ffa2263fcc4a4e37a1de6d6,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025777
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,87a0c1dd5da249767f545e0c0a43f917e4e9ca83,2021-07-13T23:01:19Z,60c3b7a9a0ee349d7102577a
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,954449c15634fb45c8bea3ac975782793ccde050,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025774

In [83]:
df_btc.tail()

            Date BTC Open BTC Close     BTC Volume
2274  2015-10-12   248.98    245.75  71.0477426014
2275  2015-10-11    246.3    248.98  22.7470905831
2276  2015-10-10   245.51     246.3  30.8705493027
2277  2015-10-09    243.6    245.51  61.5870675401
2278  2015-10-08      0.0     243.6  34.7547026012

After dropping the unnecessary columns, I merged all of the dataframes into one dataframe for easy access.

In [95]:
df_full = df_btc.merge(df_tesla, how='left', on='Date')
df_full = df_full.merge(df_nasdaq, how='left', on='Date')

In [98]:
df_full.dropna(axis=0, inplace=True)
df_full.reset_index(inplace=True)
df_full.drop(columns=['index'], inplace=True)
df_full.head()

,Date,BTC Open,BTC Close,BTC Volume,TESLA Open,TESLA Close,TESLA Volume,NASDAQ Open,NASDAQ Close,NASDAQ Volume
0,2021-12-31,47207.99,46806.83,1591.71255472,1073.439941,1056.780029,13528700.0,15722.910156,15644.969727,3.379850e+09
1,2021-12-30,46502.44,47207.99,998.41225028,1061.329956,1070.339966,15680300.0,15758.980469,15741.559570,3.732730e+09
2,2021-12-29,48017.93,46502.44,1119.62814235,1098.640015,1086.189941,18718000.0,15794.919922,15766.219727,3.694500e+09
3,2021-12-28,49821.79,48017.93,1275.00755132,1109.489990,1088.469971,20108000.0,15895.200195,15781.719727,3.623600e+09
4,2021-12-27,51036.12,49821.79,896.04207949,1073.670044,1093.939941,23715300.0,15696.830078,15871.259766,3.730120e+09

In [105]:
df_full.tail()

,Date,BTC Open,BTC Close,BTC Volume,TESLA Open,TESLA Close,TESLA Volume,NASDAQ Open,NASDAQ Close,NASDAQ Volume
1565,2015-10-14,251.0,254.59,184.552068564,44.133999,43.375999,15522000.0,4801.350098,4782.850098,1.902460e+09
1566,2015-10-13,245.75,251.0,154.686596153,42.655998,43.849998,25857500.0,4809.240234,4796.609863,1.565060e+09
1567,2015-10-12,248.98,245.75,71.0477426014,44.598000,43.116001,19181500.0,4839.790039,4838.640137,1.343820e+09
1568,2015-10-09,243.6,245.51,61.5870675401,44.186001,44.138000,30792000.0,4817.279785,4830.470215,1.804260e+09
1569,2015-10-08,0.0,243.6,34.7547026012,46.015999,45.344002,30666000.0,4775.060059,4810.790039,1.984230e+09

In [109]:
dis_dates_place = []
dis_dates = []
for i in range(df_disaster.shape[0]):
    if len(dis_dates_place) == 0:
        dis_dates_place.append(df_disaster['declaration_date'][i][0:10])
    else:
        if df_disaster['declaration_date'][i][0:10] not in dis_dates_place:
            dis_dates_place.append(df_disaster['declaration_date'][i][0:10])

for i in range(len(dis_dates_place)):
    if int(dis_dates_place[i][0:4]) > 2014:
        dis_dates.append(dis_dates_place[i][0:10])
print(len(dis_dates))

597

This code block below is where I manually one hot encoded the disaster data into the dataframe. In the part above, I gathered all of the dates I needed into one list. Then I put a one next to any date that had a disaster and a zero next to the dates that did not.

In [110]:
import numpy as np
df_full['Disaster'] = np.nan

for i in range(df_full.shape[0]):
    if df_full['Date'][i] in dis_dates:
        df_full['Disaster'][i] = 1
    else:
        df_full['Disaster'][i] = 0

/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

This code block below adds a day of the week column to the dataframe for analysis.

In [112]:
df_full['Date'] = pd.to_datetime(df_full['Date'])
df_full['Day of Week'] = df_full['Date'].dt.day_name()

df_full.tail()

,Date,BTC Open,BTC Close,BTC Volume,TESLA Open,TESLA Close,TESLA Volume,NASDAQ Open,NASDAQ Close,NASDAQ Volume,Disaster
1565,2015-10-14,251.0,254.59,184.552068564,44.133999,43.375999,15522000.0,4801.350098,4782.850098,1.902460e+09,1.0
1566,2015-10-13,245.75,251.0,154.686596153,42.655998,43.849998,25857500.0,4809.240234,4796.609863,1.565060e+09,0.0
1567,2015-10-12,248.98,245.75,71.0477426014,44.598000,43.116001,19181500.0,4839.790039,4838.640137,1.343820e+09,0.0
1568,2015-10-09,243.6,245.51,61.5870675401,44.186001,44.138000,30792000.0,4817.279785,4830.470215,1.804260e+09,0.0
1569,2015-10-08,0.0,243.6,34.7547026012,46.015999,45.344002,30666000.0,4775.060059,4810.790039,1.984230e+09,0.0

Here I take the day of the week column and label encode it to give a number to everyday of the week.

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])

df_full['day'] = le.transform(df['Day of Week'])

In [113]:
from project_lib import Project
project = Project(None, '8c125e15-9575-45d2-bee5-7670c3e8fa88', 'p-f4771a63735a47a8e7f28684678e1bbc3291acbc')
pc = project.project_context
project.save_data(data=df_full.to_csv(index=False),file_name='Crypto Analysis Data.csv',overwrite=True)

{'file_name': 'Crypto Analysis Data.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'cryptocurrencytimeseriesanalysis-donotdelete-pr-ftcfcmt8sasew7',
 'asset_id': '465dd7e6-1a81-418a-b92e-1fb8458d45cf'}