In [1]:
# The code was removed by Watson Studio for sharing.

The Bitcoin dataset was gathered from CryptoDataDownload.com.
Data is gathered daily on the opening, closing, high and low prices for a day. It also recorded the volume of the currency traded.

In [2]:
print(df_btc.shape)
df_btc.head()

(2281, 8)

,Unix,Date,Symbol,Open,High,Low,Close,Volume
0,Created on 01-03-2022,https://www.CryptoDataDownload.com,NaN,NaN,NaN,NaN,NaN,NaN
1,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
2,1641096000000,2022-01-02 04:00:00,BTCUSD,47329.05,47997.09,46673.22,47149.31,459.54333612
3,1641009600000,2022-01-01 04:00:00,BTCUSD,46806.83,47961.28,46553.0,47329.05,565.40462685
4,1640923200000,2021-12-31 04:00:00,BTCUSD,47207.99,48578.35,45641.11,46806.83,1591.71255472

For the Tesla and NASDAQ data, I gathered this from Yahoo Finance. The Bitcoin data was accessible in hourly and minute increments, but the NASDAQ and Tesla data was not.
These datasets contain the same data as the Bitcoin data.
The reasoning for these two extra datasets is because I was curious if there is a relationship between the stock market and Bitcoin. I chose Tesla because of the Elon Musk and his social media use related to cryptocurrency.

In [3]:
print(df_nasdaq.shape)
df_nasdaq.head()

(2014, 7)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-01-03,4148.560059,4152.959961,4124.959961,4131.910156,4131.910156,1667480000
1,2014-01-06,4137.029785,4139.779785,4103.750000,4113.680176,4113.680176,2292840000
2,2014-01-07,4128.569824,4158.180176,4126.479980,4153.180176,4153.180176,2278220000
3,2014-01-08,4154.279785,4171.750000,4145.000000,4165.609863,4165.609863,2345220000
4,2014-01-09,4179.040039,4182.740234,4142.700195,4156.189941,4156.189941,2214770000

In [4]:
print(df_tesla.shape)
df_tesla.head()

(2014, 7)

         Date    Open       High        Low      Close  Adj Close    Volume
0  2014-01-03  30.000  30.438000  29.719999  29.912001  29.912001  23475000
1  2014-01-06  30.000  30.080000  29.048000  29.400000  29.400000  26805500
2  2014-01-07  29.524  30.080000  29.049999  29.872000  29.872000  25170500
3  2014-01-08  29.770  30.740000  29.752001  30.256001  30.256001  30816000
4  2014-01-09  30.500  30.686001  29.370001  29.506001  29.506001  26910000

This dataset is recorded whether or not there was a natural disaster in the USA on a given day. I acquired this dataset from Kaggle.
I chose this dataset to add because I wanted to know if there was a relationship between natural disasters and whether or not people buy more or less of stocks/cryptocurrency.

In [5]:
print(df_disaster.shape)
df_disaster.head()

(62702, 22)

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,bb121323c9c29d3bef0c9a3f134bfd8b5ecff148,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025780
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,c879557e78d059e6847e7688388c339d10f51979,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025783
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,4fb19699fdbba1387ffa2263fcc4a4e37a1de6d6,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025777
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,87a0c1dd5da249767f545e0c0a43f917e4e9ca83,2021-07-13T23:01:19Z,60c3b7a9a0ee349d7102577a
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,954449c15634fb45c8bea3ac975782793ccde050,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025774